WORKDAY_AUTH_URL=https://auth.api.workday.com/v1/token
WORKDAY_CLIENT_ID=ODgwZjU2NWUtYTc3ZS00N2IwLWExOWUtODMxNzRmOTlhMmM5
WORKDAY_REFRESH_TOKEN=vvbiiio6cd388c4pd360lro8xlgzf97nec1x48qfqo41c0scieolldib7gy4pd3i2njbj6174qekh9sz0uohzi75nrs0bh8vt1q
WORKDAY_AUTHORIZATION_ID=ID T0Rnd1pqVTJOV1V0WVRjM1pTMDBOMkl3TFdFeE9XVXRPRE14TnpSbU9UbGhNbU01OjEycG9sOWJlamp4NmlqYjJ6Y2xzbTNieTk0eHdwdGNlbWtkeWt1NmdxcDVnaXA2ajYwdHR3MGt4ZjI3YzJ1ZHU3aXlrMHM4MDdoNGp1M2pud3NuZGxvbDB5MGw5MWloMm16b2o=
WORKDAY_API_BASE=https://api.workday.com/apps/wendMealOrderDoNotDelete_zrclrm/v1


Params ....

grant_type: refresh_token

client id: ODgwZjU2NWUtYTc3ZS00N2IwLWExOWUtODMxNzRmOTlhMmM5

refresh token: vvbiiio6cd388c4pd360lro8xlgzf97nec1x48qfqo41c0scieolldib7gy4pd3i2njbj6174qekh9sz0uohzi75nrs0bh8vt1q


Headers ....

ID T0Rnd1pqVTJOV1V0WVRjM1pTMDBOMkl3TFdFeE9XVXRPRE14TnpSbU9UbGhNbU01OjEycG9sOWJlamp4NmlqYjJ6Y2xzbTNieTk0eHdwdGNlbWtkeWt1NmdxcDVnaXA2ajYwdHR3MGt4ZjI3YzJ1ZHU3aXlrMHM4MDdoNGp1M2pud3NuZGxvbDB5MGw5MWloMm16b2o=
